body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:grey;
}

.btn{

	position: absolute;
	top: 50%;
	left: 45%;
	background-color: red;
	color: white;
	border-radius: 5px;
	text-decoration: none;
	border: none;
	font-size: 2em;
	margin: 4px 2px;
}
